conf/Prototype/src/WSReferences/GTIONLINE/WsDefinitions.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
		xmlns:soap12bind="http://schemas.xmlsoap.org/wsdl/soap12/"
		xmlns:soapbind="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:tns="http://www.witsml.org/wsdl/120"
		xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
		xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		name="WMLS"
		targetNamespace="http://www.witsml.org/wsdl/120">
	<documentation>WITSML Version 1.2.0 STORE interface WSDL file
</documentation>
	<message name="Store.WMLS_GetBaseMsg">
		<part name="ReturnValueIn"
				type="xsd:short"/>
	</message>
	<message name="Store.WMLS_DeleteFromStoreResponse">
		<part name="Result"
				type="xsd:short"/>
		<part name="SuppMsgOut"
				type="xsd:string"/>
	</message>
	<message name="Store.WMLS_UpdateInStoreResponse">
		<part name="Result"
				type="xsd:short"/>
		<part name="SuppMsgOut"
				type="xsd:string"/>
	</message>
	<message name="Store.WMLS_GetVersionResponse">
		<part name="Result"
				type="xsd:string"/>
	</message>
	<message name="Store.WMLS_AddToStoreResponse">
		<part name="Result"
				type="xsd:short"/>
		<part name="SuppMsgOut"
				type="xsd:string"/>
	</message>
	<message name="Store.WMLS_UpdateInStore">
		<part name="WMLtypeIn"
				type="xsd:string"/>
		<part name="XMLin"
				type="xsd:string"/>
		<part name="OptionsIn"
				type="xsd:string"/>
		<part name="CapabilitiesIn"
				type="xsd:string"/>
	</message>
	<message name="Store.WMLS_DeleteFromStore">
		<part name="WMLtypeIn"
				type="xsd:string"/>
		<part name="QueryIn"
				type="xsd:string"/>
		<part name="OptionsIn"
				type="xsd:string"/>
		<part name="CapabilitiesIn"
				type="xsd:string"/>
	</message>
	<message name="Store.WMLS_GetVersion"/>
	<message name="Store.WMLS_GetBaseMsgResponse">
		<part name="Result"
				type="xsd:string"/>
	</message>
	<message name="Store.WMLS_GetFromStore">
		<part name="WMLtypeIn"
				type="xsd:string"/>
		<part name="QueryIn"
				type="xsd:string"/>
		<part name="OptionsIn"
				type="xsd:string"/>
		<part name="CapabilitiesIn"
				type="xsd:string"/>
	</message>
	<message name="Store.WMLS_GetCapResponse">
		<part name="Result"
				type="xsd:short"/>
		<part name="CapabilitiesOut"
				type="xsd:string"/>
		<part name="SuppMsgOut"
				type="xsd:string"/>
	</message>
	<message name="Store.WMLS_GetFromStoreResponse">
		<part name="Result"
				type="xsd:short"/>
		<part name="XMLout"
				type="xsd:string"/>
		<part name="SuppMsgOut"
				type="xsd:string"/>
	</message>
	<message name="Store.WMLS_AddToStore">
		<part name="WMLtypeIn"
				type="xsd:string"/>
		<part name="XMLin"
				type="xsd:string"/>
		<part name="OptionsIn"
				type="xsd:string"/>
		<part name="CapabilitiesIn"
				type="xsd:string"/>
	</message>
	<message name="Store.WMLS_GetCap">
		<part name="OptionsIn"
				type="xsd:string"/>
	</message>
	<portType name="StoreSoapPort">
		<operation name="WMLS_AddToStore"
				parameterOrder="WMLtypeIn XMLin OptionsIn CapabilitiesIn SuppMsgOut">
			<input name="WMLS_AddToStoreRequest"
					message="tns:Store.WMLS_AddToStore"/>
			<output name="WMLS_AddToStoreResponse"
					message="tns:Store.WMLS_AddToStoreResponse"/>
		</operation>
		<operation name="WMLS_DeleteFromStore"
				parameterOrder="WMLtypeIn QueryIn OptionsIn CapabilitiesIn SuppMsgOut">
			<input name="WMLS_DeleteFromStoreRequest"
					message="tns:Store.WMLS_DeleteFromStore"/>
			<output name="WMLS_DeleteFromStoreResponse"
					message="tns:Store.WMLS_DeleteFromStoreResponse"/>
		</operation>
		<operation name="WMLS_GetBaseMsg"
				parameterOrder="ReturnValueIn">
			<input name="WMLS_GetBaseMsgRequest"
					message="tns:Store.WMLS_GetBaseMsg"/>
			<output name="WMLS_GetBaseMsgResponse"
					message="tns:Store.WMLS_GetBaseMsgResponse"/>
		</operation>
		<operation name="WMLS_GetCap"
				parameterOrder="OptionsIn CapabilitiesOut SuppMsgOut">
			<input name="WMLS_GetCapRequest"
					message="tns:Store.WMLS_GetCap"/>
			<output name="WMLS_GetCapResponse"
					message="tns:Store.WMLS_GetCapResponse"/>
		</operation>
		<operation name="WMLS_GetFromStore"
				parameterOrder="WMLtypeIn QueryIn OptionsIn CapabilitiesIn XMLout SuppMsgOut">
			<input name="WMLS_GetFromStoreRequest"
					message="tns:Store.WMLS_GetFromStore"/>
			<output name="WMLS_GetFromStoreResponse"
					message="tns:Store.WMLS_GetFromStoreResponse"/>
		</operation>
		<operation name="WMLS_GetVersion">
			<input name="WMLS_GetVersionRequest"
					message="tns:Store.WMLS_GetVersion"/>
			<output name="WMLS_GetVersionResponse"
					message="tns:Store.WMLS_GetVersionResponse"/>
		</operation>
		<operation name="WMLS_UpdateInStore"
				parameterOrder="WMLtypeIn XMLin OptionsIn CapabilitiesIn SuppMsgOut">
			<input name="WMLS_UpdateInStoreRequest"
					message="tns:Store.WMLS_UpdateInStore"/>
			<output name="WMLS_UpdateInStoreResponse"
					message="tns:Store.WMLS_UpdateInStoreResponse"/>
		</operation>
	</portType>
	<binding name="StoreSoapBinding"
			type="tns:StoreSoapPort">
		<soapbind:binding style="rpc"
				transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="WMLS_AddToStore">
			<soapbind:operation style="rpc"
					soapAction="http://www.witsml.org/action/120/Store.WMLS_AddToStore"/>
			<input>
				<soapbind:body use="encoded"
						encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
						namespace="http://www.witsml.org/message/120"/>
			</input>
			<output>
				<soapbind:body use="encoded"
						encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
						namespace="http://www.witsml.org/message/120"/>
			</output>
		</operation>
		<operation name="WMLS_DeleteFromStore">
			<soapbind:operation style="rpc"
					soapAction="http://www.witsml.org/action/120/Store.WMLS_DeleteFromStore"/>
			<input>
				<soapbind:body use="encoded"
						encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
						namespace="http://www.witsml.org/message/120"/>
			</input>
			<output>
				<soapbind:body use="encoded"
						encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
						namespace="http://www.witsml.org/message/120"/>
			</output>
		</operation>
		<operation name="WMLS_GetBaseMsg">
			<soapbind:operation style="rpc"
					soapAction="http://www.witsml.org/action/120/Store.WMLS_GetBaseMsg"/>
			<input>
				<soapbind:body use="encoded"
						encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
						namespace="http://www.witsml.org/message/120"/>
			</input>
			<output>
				<soapbind:body use="encoded"
						encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
						namespace="http://www.witsml.org/message/120"/>
			</output>
		</operation>
		<operation name="WMLS_GetCap">
			<soapbind:operation style="rpc"
					soapAction="http://www.witsml.org/action/120/Store.WMLS_GetCap"/>
			<input>
				<soapbind:body use="encoded"
						encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
						namespace="http://www.witsml.org/message/120"/>
			</input>
			<output>
				<soapbind:body use="encoded"
						encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
						namespace="http://www.witsml.org/message/120"/>
			</output>
		</operation>
		<operation name="WMLS_GetFromStore">
			<soapbind:operation style="rpc"
					soapAction="http://www.witsml.org/action/120/Store.WMLS_GetFromStore"/>
			<input>
				<soapbind:body use="encoded"
						encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
						namespace="http://www.witsml.org/message/120"/>
			</input>
			<output>
				<soapbind:body use="encoded"
						encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
						namespace="http://www.witsml.org/message/120"/>
			</output>
		</operation>
		<operation name="WMLS_GetVersion">
			<soapbind:operation style="rpc"
					soapAction="http://www.witsml.org/action/120/Store.WMLS_GetVersion"/>
			<input>
				<soapbind:body use="encoded"
						encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
						namespace="http://www.witsml.org/message/120"/>
			</input>
			<output>
				<soapbind:body use="encoded"
						encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
						namespace="http://www.witsml.org/message/120"/>
			</output>
		</operation>
		<operation name="WMLS_UpdateInStore">
			<soapbind:operation style="rpc"
					soapAction="http://www.witsml.org/action/120/Store.WMLS_UpdateInStore"/>
			<input>
				<soapbind:body use="encoded"
						encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
						namespace="http://www.witsml.org/message/120"/>
			</input>
			<output>
				<soapbind:body use="encoded"
						encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
						namespace="http://www.witsml.org/message/120"/>
			</output>
		</operation>
	</binding>
	<service name="WMLS">
		<port name="StoreSoapPort"
				binding="tns:StoreSoapBinding">
			<soapbind:address location="http://gti01-nf.sibserv.com:9130/axis2/services/WMLS"/>
		</port>
	</service>
</definitions>